* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    background-color: #515151;
    display: grid;
    place-items: center;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculadora {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    max-width: 400px;
    margin: auto;
    text-align: center;
}

.pantalla {
    grid-column: span 4;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.btn {
    grid-column: span 1;
    padding: 10px;
    font-size: 1.2em;
    cursor: pointer;
}

.btnfuncion {
    grid-column: span 1;
    padding: 10px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #ccc;
}

.movimiento {
    grid-column: span 1;
    padding: 10px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #ccc;
}

.funciones {
    grid-column: span 2;
    padding: 10px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #ccc;
}

.btnacciones {
    grid-column: span 1;
    padding: 10px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #ccc;
}

/* Agrega cualquier estilo adicional según tus preferencias */

